In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = "./data_ok/all_data_ok.xlsx"

**Không có index_col**

In [3]:
all_data_1 = pd.read_excel(path)

In [4]:
all_data_1

,Unnamed: 0,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
0,0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.00,8.75
1,1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.50,8.25
2,2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.50,8.75
3,3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.50,7.50
4,4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.50,8.25
...,...,...,...,...,...,...,...,...,...,...,...
995436,995436,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00
995437,995437,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50
995438,995438,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00
995439,995439,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75
995440,995440,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50

**Có index_col**

In [5]:
all_data = pd.read_excel(path, index_col=0)

In [6]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995441 entries, 0 to 995440
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Số báo danh  995441 non-null  int64
 1   Toán         982726 non-null  float64
 2   Ngữ văn      981407 non-null  float64
 3   Ngoại ngữ    870609 non-null  float64
 4   Vật lý       325523 non-null  float64
 5   Hóa học      327367 non-null  float64
 6   Sinh học     322198 non-null  float64
 7   Lịch sử      659662 non-null  float64
 8   Địa lý       657421 non-null  float64
 9   GDCD         554343 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 83.5 MB

In [7]:
all_data.head()

,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.0,8.75
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.5,8.25
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.5,8.75
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.5,7.50
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.5,8.25

In [8]:
all_data.tail()

,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
995436,64006584,8.4,6.75,4.6,NaN,NaN,NaN,6.50,6.75,9.00
995437,64006585,5.6,6.50,2.8,NaN,NaN,NaN,6.25,6.75,8.50
995438,64006586,5.8,6.00,6.6,NaN,NaN,NaN,7.25,8.00,8.00
995439,64006587,7.6,6.75,7.0,NaN,NaN,NaN,8.75,7.25,9.75
995440,64006588,6.6,4.50,3.2,NaN,NaN,NaN,3.00,6.00,7.50

In [9]:
all_data.fillna(-1, inplace=True)

In [10]:
all_data.tail()

,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
995436,64006584,8.4,6.75,4.6,-1.0,-1.0,-1.0,6.50,6.75,9.00
995437,64006585,5.6,6.50,2.8,-1.0,-1.0,-1.0,6.25,6.75,8.50
995438,64006586,5.8,6.00,6.6,-1.0,-1.0,-1.0,7.25,8.00,8.00
995439,64006587,7.6,6.75,7.0,-1.0,-1.0,-1.0,8.75,7.25,9.75
995440,64006588,6.6,4.50,3.2,-1.0,-1.0,-1.0,3.00,6.00,7.50

In [11]:
all_data.shape[0]

995441

In [12]:
all_data["Toán"].isnull().sum()

0

In [13]:
all_data["Ngữ văn"].isnull().sum()

0

**Thí sinh hợp lệ là thí sinh thi đủ 6 môn**

**Thí sinh hợp lệ = KHXH + KHTN**

In [14]:
thi_sinh_thi_KHXH = all_data[(all_data["Toán"] != -1) 
                            & (all_data["Ngữ văn"] != -1)
                            & (all_data["Ngoại ngữ"] != -1)
                            & (all_data["Lịch sử"] != -1)
                            & (all_data["Địa lý"] != -1)
                            & (all_data["GDCD"] != -1)]

In [15]:
thi_sinh_thi_KHXH.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 549574 entries, 0 to 995440
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Số báo danh  549574 non-null  int64
 1   Toán         549574 non-null  float64
 2   Ngữ văn      549574 non-null  float64
 3   Ngoại ngữ    549574 non-null  float64
 4   Vật lý       549574 non-null  float64
 5   Hóa học      549574 non-null  float64
 6   Sinh học     549574 non-null  float64
 7   Lịch sử      549574 non-null  float64
 8   Địa lý       549574 non-null  float64
 9   GDCD         549574 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 46.1 MB

In [16]:
thi_sinh_thi_KHXH.count()

Số báo danh    549574
Toán           549574
Ngữ văn        549574
Ngoại ngữ      549574
Vật lý         549574
Hóa học        549574
Sinh học       549574
Lịch sử        549574
Địa lý         549574
GDCD           549574
dtype: int64

In [17]:
thi_sinh_thi_KHXH.shape

(549574, 10)

In [18]:
thi_sinh_thi_KHXH.shape[0]

549574

In [19]:
thi_sinh_thi_KHTN = all_data[(all_data["Toán"] != -1) 
                            & (all_data["Ngữ văn"] != -1)
                            & (all_data["Ngoại ngữ"] != -1)
                            & (all_data["Vật lý"] != -1)
                            & (all_data["Hóa học"] != -1)
                            & (all_data["Sinh học"] != -1)]

In [20]:
thi_sinh_thi_KHTN

,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
10,1000011,6.4,7.25,7.6,3.50,8.00,3.00,-1.0,-1.0,-1.0
14,1000015,8.6,7.25,9.6,8.25,3.25,4.25,-1.0,-1.0,-1.0
15,1000016,7.8,5.75,8.4,4.25,8.00,4.75,-1.0,-1.0,-1.0
16,1000017,8.6,6.25,7.0,7.00,3.50,3.75,-1.0,-1.0,-1.0
22,1000023,6.8,6.00,6.8,2.50,5.50,3.00,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...
995410,64006558,8.0,5.00,3.0,6.00,8.00,2.75,-1.0,-1.0,-1.0
995411,64006559,5.8,4.75,3.6,4.75,3.50,3.50,-1.0,-1.0,-1.0
995423,64006571,6.4,6.50,3.4,6.75,6.00,5.25,-1.0,-1.0,-1.0
995427,64006575,5.8,5.25,3.4,5.00,5.00,2.00,-1.0,-1.0,-1.0
995429,64006577,7.2,4.25,4.6,6.25,5.25,3.50,-1.0,-1.0,-1.0

In [21]:
thi_sinh_thi_KHTN.count()

Số báo danh    309162
Toán           309162
Ngữ văn        309162
Ngoại ngữ      309162
Vật lý         309162
Hóa học        309162
Sinh học       309162
Lịch sử        309162
Địa lý         309162
GDCD           309162
dtype: int64

In [22]:
thi_sinh_thi_KHTN.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309162 entries, 10 to 995429
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Số báo danh  309162 non-null  int64
 1   Toán         309162 non-null  float64
 2   Ngữ văn      309162 non-null  float64
 3   Ngoại ngữ    309162 non-null  float64
 4   Vật lý       309162 non-null  float64
 5   Hóa học      309162 non-null  float64
 6   Sinh học     309162 non-null  float64
 7   Lịch sử      309162 non-null  float64
 8   Địa lý       309162 non-null  float64
 9   GDCD         309162 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 25.9 MB

**Thí sinh hợp lệ**

In [23]:
thi_sinh_hop_le = pd.concat([thi_sinh_thi_KHTN,thi_sinh_thi_KHXH],ignore_index=True)

In [24]:
thi_sinh_hop_le.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 858736 entries, 0 to 858735
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Số báo danh  858736 non-null  int64
 1   Toán         858736 non-null  float64
 2   Ngữ văn      858736 non-null  float64
 3   Ngoại ngữ    858736 non-null  float64
 4   Vật lý       858736 non-null  float64
 5   Hóa học      858736 non-null  float64
 6   Sinh học     858736 non-null  float64
 7   Lịch sử      858736 non-null  float64
 8   Địa lý       858736 non-null  float64
 9   GDCD         858736 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 65.5 MB

In [25]:
thi_sinh_hop_le.shape[0] == thi_sinh_thi_KHTN.shape[0] + thi_sinh_thi_KHXH.shape[0]

True

In [26]:
# tạo dataframe chứa tất cả các thí sinh không hợp lệ
# ứng dụng xóa các hàng trùng lặp
# df.drop_duplicates(keep=False):
#thi_sinh_hop_le = pd.concat([thi_sinh_thi_KHTN,thi_sinh_thi_KHXH],ignore_index=True)
join_data = pd.concat([thi_sinh_hop_le, all_data], ignore_index=True)

In [27]:
# xóa các hàng trùng lặp sẽ có df thi_sinh_khong_hop_le
thi_sinh_khong_hop_le = join_data.drop_duplicates(keep=False)

In [30]:
thi_sinh_khong_hop_le.head()

,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
858744,1000009,2.6,5.25,-1.0,-1.0,-1.0,-1.0,5.25,6.75,-1.0
858747,1000012,6.4,7.50,-1.0,-1.0,-1.0,-1.0,4.75,5.00,8.0
858749,1000014,5.8,5.50,6.4,-1.0,-1.0,-1.0,8.50,8.00,-1.0
858754,1000019,6.8,7.50,-1.0,-1.0,-1.0,-1.0,7.25,6.25,8.0
858755,1000020,-1.0,6.75,-1.0,-1.0,-1.0,-1.0,8.50,8.00,-1.0

In [31]:
# thi_sinh_khong_hop_le.shape[0] == so_thi_sinh_khong_hop_le

NameError: name 'so_thi_sinh_khong_hop_le' is not defined

In [32]:
thi_sinh_khong_hop_le.reset_index(drop=True)

,Số báo danh,Toán,Ngữ văn,Ngoại ngữ,Vật lý,Hóa học,Sinh học,Lịch sử,Địa lý,GDCD
0,1000009,2.6,5.25,-1.0,-1.0,-1.0,-1.0,5.25,6.75,-1.0
1,1000012,6.4,7.50,-1.0,-1.0,-1.0,-1.0,4.75,5.00,8.0
2,1000014,5.8,5.50,6.4,-1.0,-1.0,-1.0,8.50,8.00,-1.0
3,1000019,6.8,7.50,-1.0,-1.0,-1.0,-1.0,7.25,6.25,8.0
4,1000020,-1.0,6.75,-1.0,-1.0,-1.0,-1.0,8.50,8.00,-1.0
...,...,...,...,...,...,...,...,...,...,...
136700,64006414,4.6,4.00,-1.0,-1.0,-1.0,-1.0,6.25,-1.00,-1.0
136701,64006424,8.2,6.50,-1.0,-1.0,-1.0,-1.0,7.75,-1.00,-1.0
136702,64006425,-1.0,3.25,-1.0,-1.0,-1.0,-1.0,5.25,6.75,-1.0
136703,64006430,-1.0,5.75,-1.0,-1.0,-1.0,-1.0,7.75,8.00,-1.0
136704,64006432,-1.0,3.25,-1.0,-1.0,-1.0,-1.0,4.00,6.75,-1.0

In [33]:
type(thi_sinh_hop_le)

pandas.core.frame.DataFrame

In [34]:
so_thi_sinh_hop_le = thi_sinh_hop_le.shape[0]

In [35]:
so_thi_sinh_khong_hop_le = all_data.shape[0] - so_thi_sinh_hop_le

In [36]:
print(so_thi_sinh_khong_hop_le)
print(so_thi_sinh_hop_le)

136705
858736

**CÓ trường hợp thí sinh nào thi nhiều hơn 6 môn không**

In [37]:
test = all_data[(all_data["Toán"] != -1) 
                            & (all_data["Ngữ văn"] != -1)
                            & (all_data["Ngoại ngữ"] != -1)
                            & (all_data["Lịch sử"] != -1)
                            & (all_data["Địa lý"] != -1)
                            & (all_data["GDCD"] != -1)
                            & (all_data["Vật lý"] != -1)]

In [38]:
test

Empty DataFrame
Columns: [Số báo danh, Toán, Ngữ văn, Ngoại ngữ, Vật lý, Hóa học, Sinh học, Lịch sử, Địa lý, GDCD]
Index: []

**TÍnh số môn học sinh thi**

In [39]:
# xác định x là số giá trị -1 của các hàng
# lấy 9 trừ đi x
# từ 0 đến 9 môn
so_mon_thi_sinh_thi = [0,0,0,0,0,0,0,0,0,0]
for s in range(5):
    #học sinh thứ s
#     print(all_data.iloc[s,:])
    #đếm số phần từ khác -1 sau đó +1 vào vị trí số phần tử khác -1
    tong_so_mon_thi = 0
    for i in range(1,10):
        if all_data.iloc[s,:][i] != -1:
            tong_so_mon_thi += 1
#     so_mon_thi_sinh_thi[tong_so_mon_thi] = so_mon_thi_sinh_thi[tong_so_mon_thi] + 1
    print(tong_so_mon_thi)
    so_mon_thi_sinh_thi[tong_so_mon_thi] += 1
#     print(tong_so_mon_thi)
print(so_mon_thi_sinh_thi)

6
6
6
6
6
[0, 0, 0, 0, 0, 0, 5, 0, 0, 0]

In [ ]:
# xác định x là số giá trị -1 của các hàng
# lấy 9 trừ đi x
# từ 0 đến 9 môn
so_mon_thi_sinh_thi = [0,0,0,0,0,0,0,0,0,0]
for s in range(len(all_data)):
    #học sinh thứ s
#     print(all_data.iloc[s,:])
    #đếm số phần từ khác -1 sau đó +1 vào vị trí số phần tử khác -1
    tong_so_mon_thi = 0
    for i in range(1,10):
        if all_data.iloc[s,:][i] != -1:
            tong_so_mon_thi += 1
#     so_mon_thi_sinh_thi[tong_so_mon_thi] = so_mon_thi_sinh_thi[tong_so_mon_thi] + 1
    so_mon_thi_sinh_thi[tong_so_mon_thi] += 1
#     print(tong_so_mon_thi)
print(so_mon_thi_sinh_thi)

In [ ]:
sum(so_mon_thi_sinh_thi)

In [ ]:
thi_sinh_khong_thi_mon_nao_ca =  all_data[(all_data["Toán"] == -1) 
                                         & (all_data["Ngữ văn"] == -1) 
                                         & (all_data["Ngoại ngữ"] == -1) 
                                         & (all_data["Vật lý"] == -1) 
                                         & (all_data["Hóa học"] == -1) 
                                         & (all_data["Sinh học"] == -1)
                                         & (all_data["Lịch sử"] == -1)
                                         & (all_data["Địa lý"] == -1)
                                         & (all_data["GDCD"] == -1)]

In [ ]:
thi_sinh_khong_thi_mon_nao_ca

In [ ]:
path_csv = "./data_ok/data_ok.csv"

In [ ]:
all_data_csv = pd.read_csv(path_csv,index_col=0)

In [ ]:
all_data_csv

<center>
<h1> Phân tích về phổ điểm tất cả các môn</h1>
    </center>

<center>
    <h2>
        Phổ điểm môn Toán
    </h2>
</center>

In [ ]:
# Phổ điểm môn toán
diem_toan = all_data[["Toán"]]

In [ ]:
diem_toan

In [ ]:
so_luong_cac_dau_diem_toan = diem_toan.value_counts().sort_index()

In [ ]:
print(so_luong_cac_dau_diem_toan)

In [ ]:
so_luong_cac_dau_diem_toan.shape[0]

In [ ]:
index_so_luong_cac_dau_diem_toan = so_luong_cac_dau_diem_toan.index

In [ ]:
index_so_luong_cac_dau_diem_toan.dtypes

In [ ]:
value_so_luong_cac_dau_diem_toan = so_luong_cac_dau_diem_toan.values

In [ ]:
print(type(value_so_luong_cac_dau_diem_toan))
print(len(value_so_luong_cac_dau_diem_toan))
value_so_luong_cac_dau_diem_toan

In [ ]:
# type(index_so_luong_cac_dau_diem_toan)
print(len(index_so_luong_cac_dau_diem_toan))
# print(index_so_luong_cac_dau_diem_toan)
# print(index_so_luong_cac_dau_diem_toan[2])
# index_so_luong_cac_dau_diem_toan[2]
# print(index_so_luong_cac_dau_diem_toan)
list_dau_diem = [-1]
for i in range(0,51):
    list_dau_diem.append(round(i*0.2,2))
print(list_dau_diem)

In [ ]:
a = [1,2,3]
a.append(0)
print(a)

In [ ]:
print(students)

In [ ]:
type(students)

In [ ]:
# tính số phần trăm học sinh:

In [ ]:
# function to add value labels
def addlabels(x,y):
    for i in range(len(x)):
        plt.text(i, y[i], y[i], ha = 'center',rotation="vertical", size = "10",weight="demi")

In [ ]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
plt.figure(figsize = (30,10))
# objects = ('Python', 'C++', 'Java', 'Perl', 'Scala', 'Lisp')
y_pos = np.arange(len(list_dau_diem))
# performance = [10,8,6,4,2,1]

plt.bar(y_pos, value_so_luong_cac_dau_diem_toan)
plt.xticks(y_pos, list_dau_diem,fontsize=13, rotation=90)
plt.yticks(fontsize=13)


plt.xlabel('Thang điểm', fontsize=15)
plt.ylabel('Số học sinh' ,fontsize=15)
plt.title('Phổ điểm môn toán', fontsize=15)

addlabels(list_dau_diem,value_so_luong_cac_dau_diem_toan)
plt.savefig('Save_charts/Pho_diem_mon_toan.pdf',dpi=1500,format='pdf') #lưu file PDF
plt.show()

<center>
    <h2>
        Phổ điểm môn Ngoại ngữ
    </h2>
</center>

In [ ]:
# Phổ điểm môn Ngữ văn
diem_mon_ngoai_ngu = all_data[["Ngoại ngữ"]]

In [ ]:
so_luong_cac_dau_diem_ngoai_ngu = diem_mon_ngoai_ngu.value_counts().sort_index()
print(so_luong_cac_dau_diem_ngoai_ngu)
print(so_luong_cac_dau_diem_ngoai_ngu.shape[0])

In [ ]:
value_so_luong_cac_dau_diem_ngoai_ngu = so_luong_cac_dau_diem_ngoai_ngu.values

In [ ]:
#list các đầu điểm ngoại ngữ
list_cac_dau_diem_ngoai_ngu = [-1, 0]
for i in range(2,51):
    list_cac_dau_diem_ngoai_ngu.append(round(i*0.2, 2))
print(list_cac_dau_diem_ngoai_ngu)

In [ ]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
plt.figure(figsize = (30,10))
y_pos = np.arange(len(list_cac_dau_diem_ngoai_ngu))

plt.bar(y_pos, value_so_luong_cac_dau_diem_ngoai_ngu)
plt.xticks(y_pos, list_cac_dau_diem_ngoai_ngu,fontsize=13, rotation=90)
plt.yticks(fontsize=13)


plt.xlabel('Thang điểm', fontsize=15)
plt.ylabel('Số học sinh' ,fontsize=15)
plt.title('Phổ điểm môn Ngoại ngữ', fontsize=15)

addlabels(list_cac_dau_diem_ngoai_ngu,value_so_luong_cac_dau_diem_ngoai_ngu)
plt.savefig('Save_charts/Pho_diem_mon_ngoai_ngu.pdf',dpi=1500,format='pdf') #lưu file PDF
plt.show()

<center>
    <h1>
        Phân tích về tỉ lệ bỏ thi
    </h1>
</center>

<center>
<h3>
    Thứ tự môn thi là Văn - Toán - Tổ hợp - Ngoại ngữ <br>
    Thời gian thi lần lượt là sáng - chiều - sáng - chiều <br>
    Có hay không việc số lượng thí sinh bỏ phụ thuộc vào điểm những bài thi đầu tiên
</h3>
</center>

In [ ]:
so_luong_thi_sinh_bo_thi_mon_ngu_van = all_data[(all_data["Ngữ văn"] == -1)]

In [ ]:
so_luong_thi_sinh_bo_thi_mon_ngu_van.shape[0]

In [ ]:
so_luong_thi_sinh_bo_thi_mon_toan = all_data[(all_data["Toán"] == -1)]

In [ ]:
so_luong_thi_sinh_bo_thi_mon_toan.shape[0]

In [ ]:
so_luong_thi_sinh_bo_thi_mon_ngoai_ngu = all_data[(all_data["Ngoại ngữ"] == -1)]

In [ ]:
so_luong_thi_sinh_bo_thi_mon_ngoai_ngu.shape[0]

In [ ]:
so_luong_thi_sinh_chon_thi_khtn = all_data[(all_data["Vật lý"] != -1) 
                            | (all_data["Sinh học"] != -1)
                            | (all_data["Hóa học"] != -1)]

In [ ]:
so_luong_thi_sinh_chon_thi_khtn.shape[0]

In [ ]:
so_luong_thi_sinh_chon_thi_khtn

In [ ]:
so_luong_thi_sinh_bo_thi_khtn = so_luong_thi_sinh_chon_thi_khtn[(so_luong_thi_sinh_chon_thi_khtn["Vật lý"] == -1)
                                                               | (so_luong_thi_sinh_chon_thi_khtn["Hóa học"] == -1)
                                                               | (so_luong_thi_sinh_chon_thi_khtn["Sinh học"] == -1)]

In [ ]:
so_luong_thi_sinh_bo_thi_khtn.shape[0]

In [ ]:
so_luong_thi_sinh_chon_thi_khxh = all_data[(all_data["GDCD"] != -1) 
                            | (all_data["Địa lý"] != -1)
                            | (all_data["Lịch sử"] != -1)]

In [ ]:
so_luong_thi_sinh_chon_thi_khxh.shape[0]

In [ ]:
so_luong_thi_sinh_bo_thi_khxh = so_luong_thi_sinh_chon_thi_khxh[(so_luong_thi_sinh_chon_thi_khxh["GDCD"] == -1)
                                                               | (so_luong_thi_sinh_chon_thi_khxh["Lịch sử"] == -1)
                                                               | (so_luong_thi_sinh_chon_thi_khxh["Địa lý"] == -1)]

In [ ]:
so_luong_thi_sinh_bo_thi_khxh.shape[0]

In [ ]:
nhung_thi_sinh_khong_xac_dinh_duoc_to_hop = all_data.shape[0] - so_luong_thi_sinh_chon_thi_khtn.shape[0] - so_luong_thi_sinh_chon_thi_khxh.shape[0]

In [ ]:
nhung_thi_sinh_khong_xac_dinh_duoc_to_hop

In [ ]:
tong_so_hoc_sinh_bo_thi_mon_to_hop = so_luong_thi_sinh_bo_thi_khxh.shape[0] + so_luong_thi_sinh_bo_thi_khtn.shape[0]
print(tong_so_hoc_sinh_bo_thi_mon_to_hop)

In [ ]:
tong_so_hoc_sinh_co_to_hop_xac_dinh = all_data.shape[0] - nhung_thi_sinh_khong_xac_dinh_duoc_to_hop
print(tong_so_hoc_sinh_co_to_hop_xac_dinh)

In [ ]:
#danh sách số học sinh bỏ thi theo thứ tự Văn-Toán-Tổ hợp-Ngoại ngữ
danh_sach_so_hoc_sinh_bo_thi = [so_luong_thi_sinh_bo_thi_mon_van.shape[0],
                               so_luong_thi_sinh_bo_thi_mon_toan.shape[0],
                               tong_so_hoc_sinh_bo_thi_mon_to_hop,
                               so_luong_thi_sinh_bo_thi_mon_ngoai_ngu.shape[0]]
print(danh_sach_so_hoc_sinh_bo_thi)

In [ ]:
# danh sách tỉ lệ số học sinh bỏ thi theo thứ tự Văn-Toán-Tổ hợp-Ngoại ngữ
danh_sach_ti_le_hoc_sinh_bo_thi = [round(100*so_luong_thi_sinh_bo_thi_mon_ngu_van.shape[0]/all_data.shape[0],2)
,round(100*so_luong_thi_sinh_bo_thi_mon_toan.shape[0]/all_data.shape[0],2)
,round(tong_so_hoc_sinh_bo_thi_mon_to_hop*100/tong_so_hoc_sinh_co_to_hop_xac_dinh,2)
,round(100*so_luong_thi_sinh_bo_thi_mon_ngoai_ngu.shape[0]/all_data.shape[0],2)

]
print(danh_sach_ti_le_hoc_sinh_bo_thi)

In [ ]:
# danh sách các môn thi
danh_sach_cac_mon_thi = ["Ngữ văn", "Toán", "Tổ hợp", "Ngoại ngữ"]

<center>
<h3>
    Vẽ biểu đồ
</h3>
    </center>

In [ ]:
# function to add value labels
def addlabels_1(x,y):
    for i in range(len(x)):
        plt.text(i, y[i], y[i], ha = 'center', size = "20",weight="demi")

In [ ]:
import matplotlib.pyplot as plt; plt.rcdefaults()
import numpy as np
import matplotlib.pyplot as plt
# fig, ax = plt.subplots()
plt.figure(figsize = (30,10))
y_pos = np.arange(4)



plt.bar(y_pos, danh_sach_so_hoc_sinh_bo_thi, width=0.5)
plt.xticks(y_pos, danh_sach_cac_mon_thi,fontsize=25)
plt.yticks(fontsize=25)
#Setup giới hạn cho trục Y:
plt.ylim(0,130000)

plt.xlabel('Môn thi', fontsize=30)
plt.ylabel('Số học sinh' ,fontsize=30)
plt.title('Số học sinh bỏ thi giữa các môn', fontsize=45)

addlabels_1(danh_sach_cac_mon_thi,danh_sach_so_hoc_sinh_bo_thi)



# plt.plot(y_pos, np.array(danh_sach_so_hoc_sinh_bo_thi),'r-*',linewidth=3.0, markersize = 20)



# # Create a second y-axis
# y2 = ax.twinx()
# # Copy the y limits from the left axis
# y2.set_ylim(ax.get_ylim())
# # Set the right y-yick positions
# y2.set_yticks([2, 6])
# # Set the right y-tick labels
# y2.set_yticklabels(["A", "B"])

# # plt.subplots()
# f = plt.figure()
# ax = f.add_subplot(111)
# ax.yaxis.tick_right()
# plt.ylim(1,5)



# plt.plot(danh_sach_ti_le_hoc_sinh_bo_thi,                 #Dữ liệu trục X
#          y2,                 #Dữ liệu trục Y
#          color='g',         #Màu của đường
#          linestyle='-.',    #Kiểu đường
#          linewidth=1.5,     #Độ rộng của đường line
#          marker='D',        #Kiểu điểm
#          markersize = 8)   #Kích thước điểm

plt.grid(axis='y',
         c='black',
         ls='-.',
         lw=1.0)
# plt.bar(y_pos, danh_sach_so_hoc_sinh_bo_thi, width=0.5)
# plt.savefig('Save_charts/Ti_le_bo_thi_giua_cac_mon.pdf',dpi=1500,format='pdf') #lưu file PDF
plt.show()

In [ ]:
# tỉ lệ bỏ thi giữa các môn

In [ ]:
x = danh_sach_cac_mon_thi
y = danh_sach_ti_le_hoc_sinh_bo_thi
# print('Time:',x)
# print('Values:',y)
# plt.figure(figsize = (8,4)) #Thiết lập kích thước biểu đồ
plt.figure(figsize = (16,4)) #Thiết lập kích thước biểu đồ

plt.plot(x,                 #Dữ liệu trục X
         y,                 #Dữ liệu trục Y
         color='g',         #Màu của đường
         linestyle='-',    #Kiểu đường
         linewidth=1.5,     #Độ rộng của đường line
         marker='D',        #Kiểu điểm
         markersize = 8)   #Kích thước điểm

#Tiêu đề của đồ thị
plt.title('Biểu đồ tỉ lệ học sinh bỏ thi' ,fontsize=20)
#Nhãn cho trục X
# plt.xlabel('Thời gian')
#Nhãn cho trục Y
plt.ylabel('Tỉ lệ(%)', fontsize=15)
plt.xlabel("Môn thi", fontsize=20)
#Setup giới hạn cho trục X:
# plt.xlim(1989,2009)

#Setup giới hạn cho trục Y:
# plt.ylim(2.5,6)

#Setup tick cho trục X:
plt.xticks(x, fontsize=15)

#Thiết lập lưới:
plt.grid(axis='y',
         c='black',
         ls='-.',
         lw=1.0)

plt.show()

<h4>
    Có hay không việc thí sinh bỏ thi toán văn nhưng vẫn thi đủ 3 môn tự chọn
</h4>

In [ ]:
test_1 = all_data[(all_data["Toán"] == -1) 
                            & (all_data["Ngữ văn"] == -1)
                            & (all_data["Hóa học"] != -1)
                            & (all_data["Vật lý"] != -1)
                            & (all_data["Sinh học"] != -1)]

In [ ]:
test_1

<center>
    <h1>
        Phân tích về tỉ lệ số lượng môn học sinh thi
    </h1>
</center>

In [ ]:
Thí sinh chon thi tổ hợp nào

Tổ hợp nào có tỉ lệ thí sinh bỏ thi nhiều nhất

In [ ]:
thi_sinh_hop_le

In [ ]:
#THí sinh hợp lệ
thi_sinh_hop_le
thi_sinh_khong_hop_le

plt.figure(figsize = (12,8))
#Làm nổi bật một phần:
e = [0,0.05]
plt.pie([thi_sinh_hop_le.shape[0],thi_sinh_khong_hop_le.shape[0]], 
        labels=["Thí sinh hợp lệ", "Thí sinh không hợp lệ"],
        autopct='%.2f %%', 
        pctdistance=0.8,
        startangle=90,
        labeldistance=1.05,
        textprops={'color':'w','fontweight':'bold'},
        rotatelabels=True,
        wedgeprops=dict(edgecolor='w'),#Đường viền màu trắng
        explode=e)#Làm nổi bật một phần

plt.title('Tỷ lệ thí sinh hợp lệ', fontdict={'fontname':'Tahoma',
                                                    'fontweight':'bold',
                                                   'fontsize':18})
plt.legend(ncol=2, loc='center')
plt.show()

In [ ]:
a  = [thi_sinh_hop_le.shape[0],thi_sinh_khong_hop_le.shape[0]]
print(a)
labels=["Thí sinh hợp lệ", "Thí sinh không hợp lệ"]

In [ ]:
# function to add value labels
def addlabels_2(x,y):
    for i in range(len(x)):
        plt.text(i, y[i], y[i], ha = 'center', size = "15",weight="demi")



plt.figure(figsize = (12,5)) #Thiết lập kích thước biểu đồ

#Vẽ biểu đồ cột:
plt.bar(labels,         #Nhãn của trục X
        a,        #Giá trị tương ứng với nhãn
        color='green', #Màu của thanh
     #Giá trị bắt đầu của trục Y
        width = 0.5)   #Chiều rộng của thanh


addlabels_2(labels,a)
#Tiêu đề của đồ thị
plt.title('BIỂU ĐỒ THỂ HIỆN SỐ HỌC SINH HỢP LỆ')
plt.ylabel('Số học sinh')
plt.grid(ls='--')

plt.show()

In [ ]:
# Thí sinh thi KHTN or KHXH or Không rõ

In [ ]:
print(thi_sinh_thi_KHTN.shape[0])

print(thi_sinh_thi_KHXH.shape[0])

print(

In [ ]:
print(so_luong_thi_sinh_chon_thi_khtn.shape[0])

print(so_luong_thi_sinh_chon_thi_khxh.shape[0])

print(nhung_thi_sinh_khong_xac_dinh_duoc_to_hop)

In [ ]:
danh_sach_to_hop = [so_luong_thi_sinh_chon_thi_khtn.shape[0],so_luong_thi_sinh_chon_thi_khxh.shape[0],nhung_thi_sinh_khong_xac_dinh_duoc_to_hop]
danh_sach_ten_to_hop = ["Khoa học tự nhiên","Khoa học xã hội","Không xác định"]

In [ ]:
plt.figure(figsize = (12,8))
#Làm nổi bật một phần:
e = [0,0,0.05]
plt.pie(danh_sach_to_hop, 
        labels=danh_sach_ten_to_hop,
        autopct='%.2f %%', 
        pctdistance=0.8,
        startangle=90,
        labeldistance=1.05,
        textprops={'color':'w','fontweight':'bold'},
        rotatelabels=True,
        wedgeprops=dict(edgecolor='w'),#Đường viền màu trắng
        explode=e)#Làm nổi bật một phần

plt.title('Tỷ lệ chọn tổ hợp thi', fontdict={'fontname':'Tahoma',
                                                    'fontweight':'bold',
                                                   'fontsize':18})
plt.legend(ncol=2, loc='center')
plt.show()

In [ ]:
def addlabels_3(x,y):
    for i in range(len(x)):
        plt.text(i, y[i], y[i], ha = 'center', size = "15",weight="demi")





plt.figure(figsize = (12,5)) #Thiết lập kích thước biểu đồ

#Vẽ biểu đồ cột:
plt.bar(danh_sach_ten_to_hop,         #Nhãn của trục X
        danh_sach_to_hop,        #Giá trị tương ứng với nhãn
        color='green', #Màu của thanh
        bottom=3,      #Giá trị bắt đầu của trục Y
        width = 0.5)   #Chiều rộng của thanh

#Tiêu đề của đồ thị
plt.title('BIỂU ĐỒ THỂ HIỆN NHÓM TỔ HỢP')
plt.ylabel('Số học sinh')
plt.grid(ls='--')


addlabels_3(danh_sach_ten_to_hop,danh_sach_to_hop)
plt.show()

<center>
    <h1>
        Số môn thi 
    </h1>
</center>

In [ ]:
so_mon_thi_sinh_thi

In [ ]:
list_so_luong = ["0 môn","1 môn","2 môn","3 môn","4 môn","5 môn","6 môn","7 môn","8 môn","9 môn"]

In [ ]:
plt.figure(figsize = (12,8))
#Làm nổi bật một phần:
e = [0,0,0,0,0,0,0,0.05,0,0]
plt.pie(so_mon_thi_sinh_thi, 
        labels=list_so_luong,
        autopct='%.2f %%', 
        pctdistance=0.8,
        startangle=90,
        labeldistance=1.05,
        textprops={'color':'w','fontweight':'bold'},
        rotatelabels=True,
        wedgeprops=dict(edgecolor='w'),#Đường viền màu trắng
        explode=e)#Làm nổi bật một phần

plt.title('Tỷ lệ chọn tổ hợp thi', fontdict={'fontname':'Tahoma',
                                                    'fontweight':'bold',
                                                   'fontsize':18})
plt.legend(ncol=2, loc='center')
plt.show()

In [ ]:
def addlabels_4(x,y):
    for i in range(len(x)):
        plt.text(i, y[i], y[i], ha = 'center', size = "15",weight="demi")





plt.figure(figsize = (12,5)) #Thiết lập kích thước biểu đồ

#Vẽ biểu đồ cột:
plt.bar(danh_sach_ten_to_hop,         #Nhãn của trục X
        danh_sach_to_hop,        #Giá trị tương ứng với nhãn
        color='green', #Màu của thanh
        bottom=3,      #Giá trị bắt đầu của trục Y
        width = 0.5)   #Chiều rộng của thanh

#Tiêu đề của đồ thị
plt.title('BIỂU ĐỒ THỂ HIỆN NHÓM TỔ HỢP')
plt.ylabel('Số học sinh')
plt.grid(ls='--')


addlabels_4(danh_sach_ten_to_hop,danh_sach_to_hop)
plt.show()

<center>
    <h1>
        Tìm thủ khoa khối a1
    </h1>
</center>

In [ ]:
#Chỉ lấy điểm Khối A1
df_A1 = all_data[['Số báo danh','Toán','Vật lý','Hóa học']]
#Xóa toàn bộ các hàng chứa missing data: axis=0 -> xóa hàng | how = any (all) chỉ cần hàng có feature chứa missing
data_A1 = df_A1.dropna(axis=0,how='any')
data_A1.reset_index(drop=True, inplace=True)
data_A1

In [ ]:
def point(point1,point2,point3):
    return round(point1+point2+point3,2)

In [ ]:
data_A1['Total_score'] = data_A1.apply(lambda row: point(row['Toán'],
                                              row['Vật lý'],
                                            row['Hóa học']), 
                       axis=1)
data_A1

In [ ]:
A1_max = data_A1['Total_score'].max()
A1_max

In [ ]:
A1_max.tail(1)

<center>
    <h1>
        lấy điểm những thí sinh điểm cao
    </h1>
</center>

In [ ]:
#Lấy tất cả học sinh điểm văn trên 9
data_van = all_data[['Số báo danh','Ngữ văn']]
data_van_tren_9 = data_van[data_van['Ngữ văn']>9]
data_van_tren_9.reset_index(drop=True, inplace=True)
data_van_tren_9

In [ ]:
#Lấy tất cả học sinh điểm toán bằng 10
data_toan= all_data[['Số báo danh','Toán']]
data_toan_10 = data_toan[data_toan['Toán']==10]
data_toan_10.reset_index(drop=True, inplace=True)
data_toan_10

In [ ]:
#Lọc lấy tất cả các học sinh tiếng anh 10đ
data_Eng = all_data[['Số báo danh','Ngoại ngữ']]
df_Eng_10 = data_Eng[data_Eng['Ngoại ngữ']==10]
df_Eng_10.reset_index(drop=True, inplace=True)
df_Eng_10

<center>
    <h1>
        những thí sinh trượt tốt nghiệp
    </h1>
</center>

In [ ]:
#số lượng trượt tốt nghiệp
df_truot_tn = all_data[(all_data['Ngữ văn']<1.25) 
                         | (all_data['Toán']<1.25) 
                         | (all_data['Ngoại ngữ']<1.25) 
                         | (all_data['Vật lý']<1.25) 
                         | (all_data['Hóa học']<1.25) 
                         | (all_data['Sinh học']<1.25)
                         | (all_data['Lịch sử']<1.25)
                         | (all_data['Địa lý']<1.25)
                         | (all_data['GDCD']<1.25)]
df_truot_tn.reset_index(drop=True, inplace=True)

df_truot_tn